<section class="hero is-info is-fullheight is-bold">
    <div class="hero-body">
        <div class="main-container">
            <h1 class="title">Welcome to Eventz!</h1>
            <h3 class="tagline">The future of event booking. Scroll down to see what we offer...</h3>
        </div>
    </div>
</section>



<div class="get-started">
    <div class="flow">
        <h1>The Flow:</h1>
        <ol>
            <li>Filter through our database of events by name, date, genre, and locaiton to find the perfect gig.</li>
            <li>Submit requests to venues/performers that meet your criteria.</li>
            <li>Share your Eventz calendar with other users.</li>
            <li>Confirm requests and follow up with the other party to finalize details.</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Are you a Venue Rep?</h2>
            <p>Whether you represent a bar, concert hall, amphitheatre or even a barn, Eventz will help you quickly
                find
                those performers that will maximize the experience of your customers. </p>
            <button class="btn btn-primary create-account" routerLink="venuesignup">Create
                Venue Account</button>
        </div>
        <div class="col-md-6">
            <h2>Are you a Performer?</h2>
            <p>Musicians, Public Speakers, Authors, Ventrilaquists, and many more types of performers can use Eventz
                to
                quickly find their next gig. Our platform will also allow you to showcase talent and build your
                reputation.</p><button class="btn btn-primary create-account" routerLink="artistsignup">Create
                Performer Account</button>
        </div>
    </div>

</div>