<head>
    <meta charset="utf-8">
    <title>Profile Page</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--used for the extra tabs-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        function show_hide(show, hide) {
            document.getElementById(show).style.display = "block";
            document.getElementById(hide).style.display = "none";
        }
    </script>

    <link href="https://unpkg.com/bootstrap-css-only@4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://unpkg.com/angular-calendar@0.28.5/css/angular-calendar.css" rel="stylesheet">
    <link href="https://unpkg.com/flatpickr@4.6.3/dist/flatpickr.css" rel="stylesheet">
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <!--side panel-->
            <div class="col-sm-3 basic-info">
                <!--profile picture-->
                <img src="assets/images/sample-account/profile.jpg" class="profile-pic" alt="">
                <!--Name-->
                <h1 class="performer-name">Johnny Cash</h1>

                <!--Performer's Info-->
                <div class="performer-info">
                    <p><i>Performer</i></p>
                    <p>Genre: <b>Classic Rock</b></p>
                    <p>Area: <b>New York</b></p>
                    <p>Link: <b><a href="https://www.johnnycash.com/">johnnycash.com</a></b></p>
                    <p>Contact: <b>johnny_cash@gmail.com</b></p>
                </div>

                <!---->
            </div>

            <!--main page-->
            <div class="col-md-8 bookings">

                <mat-tab-group class="tab-labels" animationDuration="0ms" mat-align-tabs="start">
                    <mat-tab label="About">
                        <app-about></app-about>
                    </mat-tab>

                    <mat-tab label="Calendar">
                        Not Implemented for this Assignment...
                    </mat-tab>

                    <mat-tab label="Requests">
                        <app-my-requests></app-my-requests>
                    </mat-tab>

                    <mat-tab label="Archive">Not Implemented for this Assignment...</mat-tab>

                </mat-tab-group>

            </div>
        </div>
    </div>

</body>
