<head>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker9').datetimepicker({
                viewMode: 'years'
            });
        });
    </script>

</head>


<div class="back">


    <div class="contain" align="center">
        <h1>Request a Booking</h1>
        <p>If you are a performer, request a venue. If you are a venue, request a performer.</p>
        <form #bookingForm="ngForm" (ngSubmit)="onSubmit(bookingForm.value)">
            <div class="row">
                <div class="leftcol">
                    <label for="name">To:</label>
                </div>
                <div class="rightcol">
                    <input type="text" id="receiver" name="receiver" placeholder="Username of this request's recipient"
                        required [(ngModel)]="bookingrequestModel.receiver" />
                </div>
            </div>


            <div class="row">
                <div class="leftcol">
                    <label for="name">Event Date:</label>
                </div>
                <div class="rightcol">
                    <input type="date" id="event_date" name="event_date"
                        placeholder="When will this event occur?" autofocus required
                        [(ngModel)]="bookingrequestModel.event_date" required />
                </div>
            </div>

            <div class="row">
                <div class="leftcol">
                    <label for="name">Request Expiration Date:</label>
                </div>
                <div class="rightcol">
                    <input type="date" id="expiry_date" name="expiry_date"
                        placeholder="When does this request expire?" autofocus required
                        [(ngModel)]="bookingrequestModel.expiry_date" />
                </div>
            </div>

            <div class="row">
                <div class="leftcol">
                    <label for="about">Event Details:</label>
                </div>
                <div class="rightcol">
                    <textarea id="details" name="details"
                        placeholder="Rules, links, expected capacity, expected profit, etc" rows="4" cols="80"
                        [(ngModel)]="bookingrequestModel.details"></textarea>
                </div>
            </div>


            <button id="submit" type="submit" class="btn btn-primary create-account">Sign Up</button>
        </form>

        <div class="confirmation">
            {{ (response_msg.length > 0)? response_msg : '' }}
        </div>
        <br />


    </div>
</div>
