.radio-btn{
    margin-top: 4px;
    margin-bottom: 4px;
}


.request-entry{
    border-style:solid;
    border-color:#9861F3;
    padding: 1%;
    padding-left:2%;
    border-radius: 20px;
    line-height: 1;
    margin-bottom: 8px;
    background-color: white;
}

.yes-btn:hover{
    color: black;
}   

.no-btn{
    color: white;
    background-color: red;
}

.cancel-btn{
    color: white;
    background-color: red;
    display: inline-block;
    align-self: right;
}

.no-btn:hover{
    color:black;
    background-color: #8b0000;
}

.cancel-btn:hover{
    color:black;
    background-color: #8b0000;
    display: inline-block;
    align-self: right;
}

.divider{
    width:10px;
    height:auto;
    display:inline-block;
}

.status-cancel{
    display: inline-block;
}