<!-- Sean Wolfe & Emily Mussey -->

<div class="back">


<div class="contain" align="center">
  <h1>Sign In</h1>
  <form>
    <div class="row">
      <div class="leftcol">
        <label for="email">Email</label>
      </div>
      <div class="rightcol">
        <input type="email" id="email" name="email" placeholder="Email" required>
      </div>
    </div>

    <div class="row">
      <div class="leftcol">
        <label for="pwd">Password</label>
      </div>
      <div class="rightcol">
        <input type="password" id="pwd" name="pwd" placeholder="Password" required />
      </div>
    </div>
      <button id="submit" type="submit">Sign Up</button>

  </form>
</div>
</div>

<script type="text/javascript">

</script>
