<div class="back">


  <div class="contain" align="center">
    <h1>Sign In</h1>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
      <div class="row">
        <div class="leftcol">
          <label for="email">Email</label>
        </div>
        <div class="rightcol">
          <input type="email" id="email" name="email" placeholder="Email" required #name="ngModel"
            [(ngModel)]="userModel.email">
        </div>
      </div>

      <div class="row">
        <div class="leftcol">
          <label for="password">Password</label>
        </div>
        <div class="rightcol">
          <input type="password" id="passwordd" name="password" placeholder="Password" required #name="ngModel"
            [(ngModel)]="userModel.password" />
        </div>
      </div>

      <div class="row " id="account_type">
        <div class="leftcol">
          Account Type:
        </div>
        <div>
          <label>
            <input type="radio" name="account_type" value="performer" checked="checked" />
            Performer </label>
          <div class="divider"></div>
          <label> <input type="radio" name="account_type" value="venue" required />Venue</label>
        </div>
      </div>

      <button id="submit" type="submit" class="btn btn-primary create-account"
        (click)="handleLogin(userForm.value)">Login</button>
    </form>
    <div class="confirmation">
      {{ (empty)? 'Please enter your email and password': ''}}
      {{ (badEmail && !badPassword)? 'There is currently no account using this email address': '' }}
      {{ (badPassword)? 'Your password, email, or selected account type is incorrect.': '' }}
    </div>
  </div>
</div>

<script type="text/javascript">

</script>
