input, textarea {
  width: 100%;
  padding: 12px;
}

label {
  padding: 12px 12px 12px 0;
  color: white;
}

h1 {
  color: white;
}

.confirmation{
  margin-top: 10px;
}

button:hover
{
  border-color: blue;
  border-radius: 2px;
}

.back {
  color: white;
  padding: 25px;
  background-image: url('/assets/images/microphone.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.contain {
  background-color: #9861F3;
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

button
{
  margin-top: 10px;
  width: 25%;
}

.leftcol {
  width: 25%;
}

.rightcol {
  width: 75%;
}

@media screen and (max-width: 650px) {
  .leftcol, .rightcol, textarea {
    width: 100%;
    margin-top: 0;
  }

  button{
    width: 100%;
  }
  .contain {
    width: 100%;
  }

}

.radio-btn{
  margin-top: 4px;
  margin-bottom: 4px;
}

.divider{
  width:10px;
  height:auto;
  display:inline-block;
}

#account_type{
  margin-top: 12px;
}