<div class="back">


  <div class="contain" align="center">
    <h1>Create an Artist Account</h1>
    <form #performerForm="ngForm" (ngSubmit)="onSubmit(performerForm.value)">
      <div class="row">
        <div class="leftcol">
          <label for="name">Artist Name</label>
        </div>
        <div class="rightcol">
          <input type="text" id="name" name="name" placeholder="Artist Name" autofocus required #name="ngModel"
            [(ngModel)]="performerModel.name" />
        </div>
      </div>

      <div class="row">
        <div class="leftcol">
          <label for="genre">Genre</label>
        </div>
        <div class="rightcol">
          <input type="text" id="genre" name="genre" placeholder="Genre" required #name="ngModel"
            [(ngModel)]="performerModel.genre" />
        </div>
      </div>

      <div class="row">
        <div class="leftcol">
          <label for="location">Location</label>
        </div>
        <div class="rightcol">
          <input type="text" id="location" name="location" placeholder="Location" required #name="ngModel"
            [(ngModel)]="performerModel.location" />
        </div>
      </div>


      <div class="row">
        <div class="leftcol">
          <label for="link">Link</label>
        </div>
        <div class="rightcol">
          <input type="text" id="link" name="link" placeholder="Website, social media site, etc." #name="ngModel"
            [(ngModel)]="performerModel.link" />
        </div>
      </div>

      <div class="row">
        <div class="leftcol">
          <label for="email">Email</label>
        </div>
        <div class="rightcol">
          <input type="email" id="email" name="email" placeholder="Email" required #name="ngModel"
            [(ngModel)]="performerModel.email" />
        </div>
      </div>


      <div class="row">
        <div class="leftcol">
          <label for="about">About</label>
        </div>
        <div class="rightcol">
          <textarea id="about" name="about_me" placeholder="About" rows="4" cols="80" #name="ngModel"
            [(ngModel)]="performerModel.about_me"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="leftcol">
          <label for="password">Password<br></label>
        </div>
        <div class="rightcol">
          <input type="password" id="password" name="password" placeholder="Password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Password must contain at least 8 characters, including UPPERCASE, lowercase, and numbers" required
            #name="ngModel" [(ngModel)]="performerModel.password" />
        </div>
      </div>
      <button id="submit" type="submit" (click)="confirmOrder(performerForm.value)">Sign Up</button>
    </form>

    <!--confirmation message-->
    <!--{{ (confirm_msg.length > 0)? confirm_msg : '' }}-->
    {{ ((email_response.length > 0) && (email_response==="BAD EMAIL"))? 'This email address has already been taken by another user. Please choose a different one.': '' }}
    {{ ((email_response.length > 0) && !(email_response==="BAD EMAIL"))? 'Thanks for signing up with us! Your account has been created!': '' }}
    <br />

  </div>
</div>