.performer-info{
    line-height: 1;
}

.bookings{
    background-color:vwhite;
}

.basic-info{
    margin-top: 10px;
}

.performer-name{
    margin-top: 5px;
}

.about{
    background-color: rgb(96, 236, 227);
    border-radius: 1%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}
