<div class="contain" align="center">
  <h1>Create an Artist Account</h1>
  <form>
    <div class="row">
      <div class="leftcol">
        <label for="aname">Artist Name</label>
      </div>
      <div class="rightcol">
        <input type="text" id="aname" name="artistname" placeholder="Artist Name">
      </div>
    </div>

    <div class="row">
      <div class="leftcol">
        <label for="genre">Genre</label>
      </div>
      <div class="rightcol">
        <input type="text" id="gebre" name="genre" placeholder="Genre">
      </div>
    </div>

    <div class="row">
      <div class="leftcol">
        <label for="area">Location</label>
      </div>
      <div class="rightcol">
        <input type="text" id="area" name="area" placeholder="Location">
      </div>
    </div>


    <div class="row">
      <div class="leftcol">
        <label for="lname">Last Name</label>
      </div>
      <div class="rightcol">
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      </div>
    </div>


      <button id="submitbutton" type="button">Sign Up</button>


  </form>
</div>
