/* Emily Mussey & Sean Wolfe */

input, textarea, select {
  width: 100%;
  padding: 12px;
}

label {
  padding: 12px 12px 12px 0;
  color: white;
}

h1 {
  color: white;
}

button:hover
{
  border-color: blue;
  border-radius: 2px;
}
.back {
  padding: 25px;
  background-image: url('/assets/images/club.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.contain {
  background-color: #9861F3;
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

button
{
  margin-top: 10px;
  width: 25%;
}

.leftcol {
  width: 25%;
}

.rightcol {
  width: 75%;
}

#statelabel {
  display: none;
}

#stateselect {
  display: none;

}

@media screen and (max-width: 650px) {
  .leftcol, .rightcol, textarea, select{
    width: 100%;
    margin-top: 0;
  }

  button{
    width: 100%;
  }
  .contain {
    width: 100%;
  }

}
