<!-- the main menu is going to go here-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!--Logo-->
  <a class="navbar-brand" href="#">
    <img src="assets/images/logo_v1.png" width="35" height="35" class="d-inline-block align-top" alt="">
  </a>
  <!--Rest of the Menu Options-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="#">Find Booking</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">My Account</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">How To</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Login/Log Out</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>